<style>
   h1,h5{
    color: #db4e63;
    font-family: "Playwrite HR Lijeva", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  a{
    color: #EF7C8E;
    text-decoration: none;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
</style>

<div style = "background-color: #f9f1f0;">
    <br>
    <h1 class = "text-4xl" style = "text-align: center;">Top Three Books</h1>
    
    <div class="grid grid-cols-3 gap-4" style = "padding: 50px">
        <div>
            <a href="#" class="flex flex-col items-center bg-white border rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100" style = "background-color: #fadcd9; border-color: #fadcd9;">
                <img class="object-cover w-full rounded-t-lg  md:rounded-none md:rounded-s-lg" style = "max-width: 275px; max-height: 275px;" src="tuesdays.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <strong>Biographical Fiction</strong>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Tuesdays with Morrie</h5>
                    <p class = "text-stone-500">Mitch Albom</p>
                    <p class="mb-3 font-normal text-stone-950">An important relationship in Mitch Albom's life – his old college professor, Morrie.</p>
                    <a>Read More >></a>
                </div>
            </a>
        </div>
    
        <div>
            <a href="#" class="flex flex-col items-center bg-white border rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100" style = "background-color: #fadcd9; border-color: #fadcd9;">
                <img class="object-cover w-full rounded-t-lg  md:rounded-none md:rounded-s-lg" style = "max-width: 275px; max-height: 275px;" src="nov9.webp" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <strong>New Adult Fiction</strong>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">November 9</h5>
                    <p class = "text-stone-500">Colleen Hoover</p>
                    <p class="mb-3 font-normal text-stone-950">The novel talks about the impact of emotional and physical scars to Fallon. </p>
                    <a>Read More >></a>
                </div>
            </a>
        </div>
    
        <div>
            <a href="#" class="flex flex-col items-center bg-white border rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100" style = "background-color: #fadcd9; border-color: #fadcd9;">
                <img class="object-cover w-full rounded-t-lg  md:rounded-none md:rounded-s-lg" style = "max-width: 275px; max-height: 275px;" src="kiss.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <strong>Romance Novel</strong>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">The Kiss Quotient</h5>
                    <p class = "text-stone-500">Helen Hoang</p>
                    <p class="mb-3 font-normal text-stone-950">It's about Stella, an autistic woman who hires an escort to explore intimacy with other people.</p>
                    <a>Read More >></a>
                </div>
            </a>
        </div>
      </div>
</div>
