<style>
    h1{
        color: #db4e63;
        font-family: "Playwrite HR Lijeva", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
</style>

<div>
    <br><br>
    <h1 class = "text-4xl" style = "text-align: center; color: #db4e63;">Gallery</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4" style = "padding: 30px 100px">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="atomic.jpg" alt="" style = "border: 2px solid #d496a7;">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="geisha.jpg" alt="" style = "border: 2px solid #d496a7;">
            </div>
            
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="achilles.webp" alt="" style = "border: 2px solid #d496a7;">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="five-years.jpg" alt="" style = "border: 2px solid #d496a7;">
            </div>
           
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="spanish-love.webp" alt="" style = "border: 2px solid #d496a7;">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="wanttoeat.jpg" alt="" style = "border: 2px solid #d496a7;">
            </div>
            
        </div>
    </div>
    
</div>
